# ignore build directories
/build*

# ignore .vscode directory
/.vscode/

# ignore personalized config file
myconfig.cmake

# ignore tests (not up to date)
/tests/*

# ignore the output files (let user run them ?)
/examples/output-files/*
!/examples/output-files/.gitkeep